<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>

    <div ng-controller="TodoController as todo">
      <ul>
        <li ng-repeat="item in todo.list">
          <p>{{ $index + 1 }}. {{ item.title}}</p>
          <p ng-if="item.completed">(This item is completed)</p>
          <p ng-if="item.rating >= 4">(This item is pretty important)</p>
          <div ng-switch="item.category">
            <div ng-switch-when="Personal">
              <p>Category: Personal</p>
            </div>
            <div ng-switch-when="Work">
              <p>Category: Work</p>
            </div>
            <div ng-switch-when="Weekend">
              <p>Category: Weekend</p>
            </div>
            <div ng-switch-default>
              <p>Category: Other</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
  </body>
</html>
