<html ng-app="app">
<head>
    <title>My Angular app</title>
    <script src="js/angular.js"></script>
</head>
<body>
    <a ng-click="myKey = 'one'">
        Key one
    </a>
    <a ng-click="myKey = 'two'">
        Key two
    </a>
    <div ng-controller="MainController as main">
        {{ main.myObject[myKey] | uppercase }}
        <pre>{{ main }}</pre>
    </div>
    <div>
        {{ "209.82" | currency:'$':2 }}
    </div>

    <form ng-submit="main.getUser()">
        <input type="text" ng-model="user.userId">
        <button type="submit">
            Search User
        </button>
    </form>
    <pre>{{ main.chosenUser }}</pre>

    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
</body>
</html>